@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&family=Source+Serif+Pro:wght@600;700&display=swap');

:root{
    --primary-purple: #603FD3;
    --secondary-purple: #8967FF;
    --light:#FEE8D0;
    --font1: 'Source Serif Pro',
        serif;
    --font2: 'Nunito', sans-serif;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl:1200px;
    --xxl: 1400px;

    box-sizing: border-box;
}

body{
    font-family: var(--font1);
    background: #FEF9F3;
    padding: 0 5vw;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font1);
    margin: 0;
}

a{
    font-family: var(--font2);
    color: black;
    font-weight: 700;
    text-decoration: none;
}

p{
    font-family: var(--font2);
}

input, button{
    font-family: var(--font2);
}

h1{
    font-size: 65px;
}

h2{
    font-size: 70px;
}

h3{
    font-size: 60px;
}

h4{
    font-size: 50px;
}

.main_button{
    background: var(--primary-purple);
    border: none;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}